{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: beinvenue
{% endblock %}
{% block content %}
<h1># out-of-home-disco</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : va à la  disco
- tu as trouvé un job : système et reseau
-  tu choisis un style de music
- Airbnb logement : entraîne toi à jouer des morceaux accompagnés avec piano dans un concert (play it, )
- Dan sle logement :ecoute la radio , ecoute de la music, joue de la musique
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
